* {
    box-sizing: border-box;

}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonte/Minecraftia-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: 'Minecraft', sans-serif;
    background-color: #1c1c1c;
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
    color: white;
}

.topo {
    background-color: #fda300;
    padding: 15px;
    text-align: left;
    margin-top: 0;
}

.menu {
    background-color: rgb(161, 105, 0);
    padding: 15px;

}

.menu a {
    color: white;
}

h2 {
    color: #fda300;
}

p {
    color: white;
}

ul {
    color: rgb(161, 105, 0);
}

footer {
    background-color: rgb(44, 44, 44);
    padding: 15px;
    margin: 0;
}

.rodape a {
    color: darkolivegreen;
}

footer a.volte:hover {
    color: white;
}
.crafting:hover{
    color: #fda300;
}
.minere:hover{
    color: #fda300;
}
.fornalha:hover{
    color: #fda300;
}
.arm:hover{
    color: #fda300;
}
.fome:hover{
    color: #fda300;
}